 /*p{
  color:white;  
  
  font-family: monospace;
}*/


p:hover{
  color: aqua;
  
}

.salir:hover{
  color:red;
}

.barax3{
  width: 300px;
}
.barax2{
  width: 250px;
}
.logo{
  width: 400px;
}
.logoa{
  width: 300px;
}